/* .dt-layout-row:nth-child(1),
.dt-layout-row:nth-child(3) {
  display: flex;
  justify-content: space-between;
  font-size: 0.95em;
  margin: 1rem 0;
}

.dt-layout-row:nth-child(1) .dt-length select,
.dt-layout-row:nth-child(1) .dt-search input {
  border-radius: 0.2em;
  background-color: #fcfcfc;
  padding: 0.4em;
  outline: 1px solid #dddddd;
}
.dt-paging button {
  padding: 0 0.5em;
}
.dt-paging button.current {
  background: rgb(59 130 246);
  padding: 0.2em 1em;
  border-radius: 0.2em;
  color: #ffffff;
}

@media only screen and (max-width: 1024px) {
  .dt-layout-row:nth-child(1),
  .dt-layout-row:nth-child(3) {
    display: block;
    font-size: 0.85em;
  }
  .dt-layout-row:nth-child(1) .dt-search input {
    margin-top: 1rem;
    padding: 0.2em;
  }
  .dt-paging {
    margin-top: 0.5rem;
  }
}

table.dataTable.hover tbody tr:hover,
table.dataTable.display tbody tr:hover {
  background-color: #ebf4ff;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
  background-color: rgb(59 130 246) !important;
}

table.dataTable {
  text-align: center;
  border: 1px solid #e2e8f0;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
}

table.dataTable thead th {
  text-align: center;
  border-bottom: 2px solid #e2e8f0;
  padding: 0.6rem;
  font-weight: 600;
}

table.dataTable tbody td {
  text-align: center;
  border-bottom: 1px solid #e2e8f0;
  font-size: 0.95em;
  padding: 1em;
}

table.dataTable tbody tr:last-child td {
  border-bottom: none;
}

table.dataTable.hover tbody tr:hover,
table.dataTable.display tbody tr:hover {
  background-color: #ebf4ff;
}
table.dataTable tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

table.dataTable tbody tr:nth-child(odd) {
  background-color: #ffffff;
}
table.dataTable thead th {
  text-align: center !important;
}

table.dataTable tbody {
  border-radius: 5px;
}

table.dataTable tbody td {
  border-radius: 0 0 5px 5px;
}

.dt-empty {
  padding: 0.3em 0;
} */

table.dataTable {
  margin: 2rem 0;
}

table.dataTable thead tr {
  background: #2196f3;
  color: white;
}

table.dataTable thead tr th{
  font-weight: 600;
  font-size: 0.75rem;
}

table.dataTable tbody tr td {
  text-align: center;
  font-size: 0.75rem;
}

table.dataTable tbody tr:nth-child(even) {
  background-color: #f9f9f9; /* Warna latar belakang untuk baris genap */
}

table.dataTable tbody tr:nth-child(odd) {
  background-color: #ffffff; /* Warna latar belakang untuk baris ganjil */
}

.dataTables_wrapper select,
.dataTables_wrapper .dataTables_filter input {
  border-width: 2px;
  border-radius: 0.25rem !important;
  border-color: #f5f7f8;
  background-color: #f5f7f8;
  padding: 0.2em;
  line-height: 1.25;
  margin-bottom: 1rem;
}

.dataTables_wrapper .dataTables_filter input {
  margin-top: 9px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  font-weight: 700;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  height: 39px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  color: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  font-weight: 700;
  border-radius: 0.25rem;
  background: #2196f3 !important;
  border: 1px solid transparent;
  margin: 0 0.5em;
}
